@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-color: #fff;
}

body::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: lightgray;
    background-image: url(images/aesthetic-minimal-white-grid-pattern-wallpaper.jpg);
    background-size: cover;
    z-index: -2;
    opacity: 0.2;
}

h1 {
    position: absolute;
    top: 1em;
    font-size: 2.3rem;
    font-weight: 400;
    letter-spacing: 0.1em;
}

.btns {
    margin: 10px 0;
    width: 20%;
    min-width: 170px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.btns i {
    cursor: pointer;
    width: 100px;
    min-width: 50px;
    height: 100px;
    border: 3px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    transition: all 0.1s linear;
}

.btns i:hover {
    transform: scale(1.05);
}

.score {
    width: 35%;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.playboard {
    margin: 50px 0;
    width: 30%;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

#bg-1 {
    position: absolute;
    background-image: linear-gradient(to right, transparent 10%, #fff 80%, transparent 10%);
    left: 0;
    width: 30%;
    height: 100%;
    z-index: -1;
}

#bg-center {
    position: absolute;
    background-color: #fff;
    width: 52%;
    height: 100%;
    z-index: -1;
}

#bg-2 {
    position: absolute;
    right: 0;
    background-image: linear-gradient(to left, transparent 10%, #fff 80%, transparent 10%);
    width: 30%;
    height: 100%;
    z-index: -1;
}

footer {
    background-color: #000;
    width: 100%;
    height: 75px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

footer > p {
    color: #fff;
}

footer > a {
    color: #fff;
    font-size: 0.7rem;
}

#winner {
    width: fit-content;
    height: fit-content;
    padding: 10px;
    background-color: #000;
    color: #fff;
    font-style: italic;
    margin: 10px 0;
}

#winnerFull {
    width: fit-content;
    height: fit-content;
    font-size: 2rem;
    padding: 10px;
    background-color: #000;
    color: #fff;
    font-style: italic;
    margin: 15px 0;
    opacity: 0;
}

#reset {
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 10px;
    transition: all 0.1s linear;
}

#reset:hover {
    transform: scale(1.05);
}

@media (max-width: 1000px){
    h1 {
        font-size: 1.5rem;
    }

    .btns, .playboard, #winnerFull, #winner {
        margin: 5px 0;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 1.2rem;
    }

    .playboard {
        gap: 20px;
    }

    #winnerFull {
        font-size: 1rem;
    }

    #winner {
        font-size: 0.8em;
    }

    footer > a {
        font-size: 0.5em;
    }

    footer > p {
        font-size: 0.8em;
    }
}